@{
    ViewData["Title"] = "Contact";
}
<h2 style="color:blue">@ViewData["Title"]</h2>
<h4 style="color:coral">@ViewData["Message"]</h4>
<body style="background-image:url('/images/5.jpg');font-size:25px;">
    <address>
        вул. Університетська 1, м. Львів, 79000<br />
    </address>
    <address>
        <abbr title="Phone" style="color:blue">Довідкове бюро:</abbr>
        +38 (032) 239-41-11<br />

        <abbr title="Phone" style="color:blue">Загальна канцелярія :</abbr>
        +38 (032) 239-41-11<br />

        <abbr title="Phone" style="color:blue">Прес-центр :</abbr>
        +38 (032) 239-45-04<br />
    </address>
    <address>
        <strong>e-mail: </strong> <a href="mailto:Support@example.com"> zag_kan@lnu.edu.ua</a><br />
        <strong>Official web-page: </strong><a> http://www.lnu.edu.ua/</a><br />
    </address>
    </body>