@{
    ViewData["Title"] = "Details";
}
<h2 style="color:blue">@ViewData["Title"]</h2>
<h3 style="color:coral">@ViewData["Message"]</h3>
<body style="background-image:url('/images/5.jpg');">

</body>