@{
    ViewData["Title"] = "Home Page";
}

<body style="background-image:url('/images/5.jpg')">
    <h1 style="color:blue"> Welcome to our rating system</h1>
    <h3 style="color:blue">Aim of our system</h3>
    <p style="font-size:25px;font-family: cursive">Our product was created to rate University web-page.  This product aims to automate the collection and analysis of data.  </p>
    <p style="font-size:25px;font-family: cursive">The future users of the program are : Department of Information Support of LNU </p>
    <h3 style="color:blue">Description</h3>
    <p style="font-size:25px;font-family: cursive">So, lets see what our system can do and how you can use it. </p>
    <p style="font-size:25px;font-family: cursive">One of the most reason why you are using this program is your desire to see the results of rating or to rate web-pages of each faculty.</p>
    <p style="font-size:25px;font-family: cursive">If you log in as a common user, you can only see results of the rating (you can search results by date).</p>
    <p style="font-size:25px;font-family: cursive">If you log in as Admin , you have obviously more rights and you can not only see results , also you can see detailed info for each faculty and change some fields if it is necessary. In addition to all this you can add new users give admin rights to user</p>

    <p style="font-size:25px;"><img src="~/images/case-daigram(University).png" height="230" width="300" alt=" Case diagram" /> Here you can see what rights have user and admin<p>

    <p style="font-size:25px;font-family: cursive">So , we are moving on to "Contacts" here you can see  contacts of University some links etc. </p>
    <p style="font-size:25px;font-family: cursive"> If you dond have an account , dont worry! We have registration page. so if you want to see rating results , just spend a few minutes to register. </p> 
    <p  style="text-align:center;"><img src="~/images/8.png" height="240" width="190" ></p>
    <p></p>

    <p style="color:blue;font-size:34px;font-family: cursive"> I'm sure you like our system .

</body>