
@{
    ViewData["Title"] = "Results";
}

<h2 style="color:blue">Results</h2>
<body style="background-image:url('/images/5.jpg');">
  <style>
      table#result tr {
          background-color: white;
          color: blue;
          border-color: crimson;
      }

      table#result th {
          background-color:black;
          color: white;
          border-color:crimson;
      }
      table, th, td {
          font-size:20px ;
          border: 2px solid crimson;
          border-collapse: collapse;
      }
  </style>  

    <table id="result">
        <tr>
            <th>Faculty</th>
            <th>Rate</th>
        </tr>
        <tr>
            <td>Faculty of Applied Mathematics and Informatics</td>
            <td>99</td>
        </tr>
        <tr>
            <td>Faculty of Physics</td>
            <td>96</td>
        </tr>
        <tr>
            <td>Faculty of Foreign Languages</td>
            <td>86</td>
        </tr>
        <tr>
            <td>Faculty of Economics</td>
            <td>85</td>
        </tr>
        <tr>
            <td>Faculty of Law</td>
            <td>80</td>
        </tr>
        <tr>
            <td>Faculty of Electronics</td>
            <td>75</td>
        </tr>
        <tr>
            <td>Faculty of Biology</td>
            <td>60</td>
        </tr>
        <tr>
            <td>Faculty of Chemistry</td>
            <td>59</td>
        </tr>
        <tr>
            <td>Faculty of Pedagogical Education</td>
            <td>1</td>
        </tr>
    </table>


</body>