@model NetProject__UNIVERSITY_.Faculties

@{
    ViewData["Title"] = "Test1";
}

<h2>Test1</h2>

<h4>Faculties</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Test1">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FacultyName" class="control-label"></label>
                <input asp-for="FacultyName" class="form-control" />
                <span asp-validation-for="FacultyName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FacultyId" class="control-label"></label>
                <input asp-for="FacultyId" class="form-control" />
                <span asp-validation-for="FacultyId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FacultyLanguage" class="control-label"></label>
                <input asp-for="FacultyLanguage" class="form-control" />
                <span asp-validation-for="FacultyLanguage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FacultyLink" class="control-label"></label>
                <input asp-for="FacultyLink" class="form-control" />
                <span asp-validation-for="FacultyLink" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
